# Class 2 -- Gathering Data and Cleaning

____
### 1.0 Initalize and prep files

In [12]:
import os
import pandas as pd
import xlrd
import openpyxl

#os.getcwd()
#!pip show pandas

'/Users/Varsha/GitHub/comp-thinking'

In [2]:
cloudLocation_AllMyFiles = 'https://github.com/varshaskrish/comp-thinking/raw/main/HSB_files/'

linkToSTATA_File=cloudLocation_AllMyFiles+'hsb_ok.dta' # '+' concatenates text.
linkToSPSS_File=cloudLocation_AllMyFiles+'hsb_ok.sav'
linkToEXCEL_File=cloudLocation_AllMyFiles+'hsb_ok.xlsx'

### 1.1 Reading data from STATA and EXCEL:

In [5]:
# read in stata and excel file 

dfStata=pd.read_stata(linkToSTATA_File)
dfExcel=pd.read_excel(linkToEXCEL_File,usecols='B:P') #this omits first column (row number from Excel).

In [8]:
# what kind of objects are the files?  
type(dfStata) , type(dfExcel)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

In [9]:
# and what is their shape
dfStata.shape, dfExcel.shape

((600, 15), (600, 15))

In [10]:
# explore the data 
dfStata.head()

,id,sex,race,ses,sctyp,hsp,locus,concpt,mot,car,rdg,wrtg,math,sci,civ
0,1,Female,Asian,Low,Public,Vocational/Technical,0.29,0.88,0.67,Professional_2,33.6,43.7,40.2,39.0,40.6
1,2,Male,Asian,Low,Public,Academic preparatory,-0.42,0.03,0.33,Craftsman,46.9,35.9,41.9,36.3,45.6
2,3,Female,Asian,Low,Public,Academic preparatory,0.71,0.03,0.67,Professional_1,41.6,59.3,41.9,44.4,45.6
3,4,Female,Asian,Medium,Public,Vocational/Technical,0.06,0.03,0.00,Service,38.9,41.1,32.7,41.7,40.6
4,5,Female,Asian,Medium,Public,Vocational/Technical,0.22,-0.28,0.00,Clerical,36.3,48.9,39.5,41.7,45.6

In [11]:
dfExcel.tail()

,id,sex,race,ses,sctyp,hsp,locus,concpt,mot,car,rdg,wrtg,math,sci,civ
595,596,Male,Hispanic,High,Private,General,0.27,-1.05,0.33,Professional_1,60.1,54.1,56.3,55.3,55.6
596,597,Male,Hispanic,Medium,Private,General,0.55,0.34,1.00,Technical,62.7,61.9,72.9,63.4,55.6
597,598,Male,Hispanic,Medium,Private,General,-0.61,0.34,0.67,Technical,68.0,54.1,74.6,66.1,65.5
598,599,Female,Hispanic,Medium,Private,General,0.23,0.94,1.00,Professional_2,57.4,67.1,57.9,60.7,55.6
599,600,Male,Hispanic,Medium,Private,General,0.02,0.03,0.33,Professional_1,62.7,54.1,64.7,58.0,50.6

### 1.2 Reading data from SPSS

In [16]:
import pyreadstat

reading SPSS files is tricky...

In [17]:
# to open link:
from urllib.request import urlopen

response = urlopen(linkToSPSS_File) 

# reading contents
content = response.read() 

# opening a file new file locally
fhandle = open('savingLocally.sav', 'wb') #wb is 

# saving contents in that file
fhandle.write(content) 

# closing the file
fhandle.close()

## 2.0 Collecting Data from APIs

In [23]:
from IPython.display import IFrame   

#lets look at a website! 
fromAPI="https://dev.socrata.com/foundry/data.seattle.gov/kzjm-xkqj" 
IFrame(fromAPI, width=900, height=500)

In [19]:
!pip install sodapy

Collecting sodapy
  Downloading sodapy-2.1.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: requests>=2.20.0 in /Users/Varsha/opt/anaconda3/lib/python3.9/site-packages (from sodapy) (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Varsha/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.20.0->sodapy) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/Varsha/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.20.0->sodapy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/Varsha/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.20.0->sodapy) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/Varsha/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.20.0->sodapy) (1.26.7)
Installing collected packages: sodapy
Successfully installed sodapy-2.1.0

Currently do not have an API token so using this as an "unauthenticated client" 
(documentation on website)

In [20]:
from sodapy import Socrata

# Unauthenticated client (using 'None')

client = Socrata("data.seattle.gov", None)

# If you have credentials:
# client = Socrata(data.seattle.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 500 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.

results = client.get("kzjm-xkqj", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [21]:
results_df.head()

,address,type,datetime,latitude,longitude,report_location,incident_number,:@computed_region_ru88_fbhk,:@computed_region_kuhn_3gp2,:@computed_region_q256_3sug,:@computed_region_2day_rhn5,:@computed_region_cyqu_gs94
0,1924 9th Ave,Aid Response,2022-01-13T09:41:00.000,47.615796,-122.334741,"{'type': 'Point', 'coordinates': [-122.334741,...",F220005633,56,31,18081,NaN,NaN
1,2320 E UNION ST,Aid Response,2022-01-13T09:32:00.000,47.612941,-122.30244,"{'type': 'Point', 'coordinates': [-122.30244, ...",F220005631,9,8,19578,NaN,NaN
2,1104 Nw 130th St,Aid Response,2022-01-13T09:31:00.000,47.723312,-122.370418,"{'type': 'Point', 'coordinates': [-122.370418,...",F220005630,6,32,18229,126,1
3,4755 Fauntleroy Way Sw,Aid Response,2022-01-13T09:30:00.000,47.560074,-122.381457,"{'type': 'Point', 'coordinates': [-122.381457,...",F220005629,1,50,19581,NaN,NaN
4,627 4th Ave W,Aid Response,2022-01-13T09:29:00.000,47.624935,-122.361932,"{'type': 'Point', 'coordinates': [-122.361932,...",F220005628,50,40,19575,NaN,NaN

## 3.0 Scraping from the web

In [35]:
import html5lib 
#import beautifulsoup4 should be import bs4
import lxml

In [39]:
!pip install beautifulsoup

Collecting beautifulsoup
  Using cached BeautifulSoup-3.2.2.tar.gz (32 kB)
    ERROR: Command errored out with exit status 1:
     command: /Users/Varsha/opt/anaconda3/bin/python -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-install-3sbpio3w/beautifulsoup_43b8b2beeb284733bff31794e26ac604/setup.py'"'"'; __file__='"'"'/private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-install-3sbpio3w/beautifulsoup_43b8b2beeb284733bff31794e26ac604/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-pip-egg-info-iquasayg
         cwd: /private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-install-3sbpio3w/beautifulsoup_43b8b2beeb284733bff31794e26ac604/
    Complete output (6 lines):
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-install-3sbpio3w/beautifulsoup_43b8b2beeb284733bff31794e26ac604/setup.py", line 3
        "You're trying to run a very old release of Beautiful Soup under Python 3. This will not work."<>"Please use Beautiful Soup 4, available through the pip package 'beautifulsoup4'."
                                                                                                       ^
    SyntaxError: invalid syntax
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/40/f2/6c9f2f3e696ee6a1fb0e4d7850617e224ed2b0b1e872110abffeca2a09d4/BeautifulSoup-3.2.2.tar.gz#sha256=a04169602bff6e3138b1259dbbf491f5a27f9499dea9a8fbafd48843f9d89970 (from https://pypi.org/simple/beautifulsoup/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached BeautifulSoup-3.2.1.tar.gz (31 kB)
    ERROR: Command errored out with exit status 1:
     command: /Users/Varsha/opt/anaconda3/bin/python -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-install-3sbpio3w/beautifulsoup_2200db0c2e3047308b85125ad9797d6f/setup.py'"'"'; __file__='"'"'/private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-install-3sbpio3w/beautifulsoup_2200db0c2e3047308b85125ad9797d6f/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-pip-egg-info-w0_0_tnd
         cwd: /private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-install-3sbpio3w/beautifulsoup_2200db0c2e3047308b85125ad9797d6f/
    Complete output (6 lines):
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-install-3sbpio3w/beautifulsoup_2200db0c2e3047308b85125ad9797d6f/setup.py", line 22
        print "Unit tests have failed!"
              ^
    SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Unit tests have failed!")?
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/1e/ee/295988deca1a5a7accd783d0dfe14524867e31abb05b6c0eeceee49c759d/BeautifulSoup-3.2.1.tar.gz#sha256=6a8cb4401111e011b579c8c52a51cdab970041cc543814bbd9577a4529fe1cdb (from https://pypi.org/simple/beautifulsoup/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached BeautifulSoup-3.2.0.tar.gz (31 kB)
    ERROR: Command errored out with exit status 1:
     command: /Users/Varsha/opt/anaconda3/bin/python -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-install-3sbpio3w/beautifulsoup_e750f09437554b838f368aab21696310/setup.py'"'"'; __file__='"'"'/private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-install-3sbpio3w/beautifulsoup_e750f09437554b838f368aab21696310/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-pip-egg-info-b26_ngp1
         cwd: /private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-install-3sbpio3w/beautifulsoup_e750f09437554b838f368aab21696310/
    Complete output (6 lines):
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/x6/cq37ctt51yv9cpgjk4yl_jgw0000gn/T/pip-install-3sbpio3w/beautifulsoup_e750f09437554b838f368aab21696310/setup.py", line 22
        print "Unit tests have failed!"
              ^
    SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Unit tests have failed!")?
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/33/fe/15326560884f20d792d3ffc7fe8f639aab88647c9d46509a240d9bfbb6b1/BeautifulSoup-3.2.0.tar.gz#sha256=0dc52d07516c1665c9dd9f0a390a7a054bfb7b147a50b2866fb116b8909dfd37 (from https://pypi.org/simple/beautifulsoup/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
ERROR: Could not find a version that satisfies the requirement beautifulsoup (from versions: 3.2.0, 3.2.1, 3.2.2)
ERROR: No matching distribution found for beautifulsoup

In [40]:
!pip show beautifulsoup4

Name: beautifulsoup4
Version: 4.10.0
Summary: Screen-scraping library
Home-page: http://www.crummy.com/software/BeautifulSoup/bs4/
Author: Leonard Richardson
Author-email: leonardr@segfault.org
License: MIT
Location: /Users/Varsha/opt/anaconda3/lib/python3.9/site-packages
Requires: soupsieve
Required-by: conda-build

Let's scrape some tables from wikipedia!

In [24]:
#from IPython.display import IFrame  

wikiLink="https://en.wikipedia.org/wiki/Democracy_Index" 
IFrame(wikiLink, width=700, height=300)

In [43]:
dataWIKI=pd.read_html(wikiLink,header=0,flavor='bs4',attrs={'class': 'wikitable'})

In [44]:
# what is dataWIKI now?
type(dataWIKI)

list

In [45]:
len(dataWIKI)

6

In [46]:
#lets look at the first table
dataWIKI[0]

,Type of regime,Colors,Colors.1,Score,Countries,Countries (%),World population (%),GDP (%)
0,Full democracies,NaN,NaN,8.01–10,23,13.8%,8.4%,27.5%
1,Flawed democracies,NaN,NaN,6.01–8,52,31.1%,41.0%,45.7%
2,Hybrid regimes,NaN,NaN,4.01–6,35,21.0%,15.0%,3.7%
3,Authoritarian regimes,NaN,NaN,0–4,57,34.1%,35.6%,23.1%

In [48]:
#lets work with the last table
dataWIKI[5].head()

,Rank,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Δ Rank,Country,Regime type,Overall score,Δ Score,Elec­toral pro­cess and plura­lism,Func­tioning of govern­ment,Poli­tical partici­pation,Poli­tical cul­ture,Civil liber­ties
0,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies
1,1,NaN,Norway,Full democracy,9.81,0.06,10.00,9.64,10.00,10.00,9.41
2,2,NaN,Iceland,Full democracy,9.37,0.21,10.00,8.57,8.89,10.00,9.41
3,3,NaN,Sweden,Full democracy,9.26,0.13,9.58,9.29,8.33,10.00,9.12
4,4,NaN,New Zealand,Full democracy,9.25,0.01,10.00,8.93,8.89,8.75,9.71

## Social Media Data -- Twitter

In [50]:
!pip install tweepy

Collecting tweepy
  Downloading tweepy-4.4.0-py2.py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 7.1 MB/s eta 0:00:011
Requirement already satisfied: requests<3,>=2.11.1 in /Users/Varsha/opt/anaconda3/lib/python3.9/site-packages (from tweepy) (2.26.0)
Collecting requests-oauthlib<2,>=1.0.0
  Downloading requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/Varsha/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.11.1->tweepy) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/Varsha/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.11.1->tweepy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Varsha/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.11.1->tweepy) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/Varsha/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.11.1->tweepy) (3.2)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.1.1-py2.py3-none-any.whl (146 kB)
     |████████████████████████████████| 146 kB 12.4 MB/s eta 0:00:01
Installing collected packages: oauthlib, requests-oauthlib, tweepy
Successfully installed oauthlib-3.1.1 requests-oauthlib-1.3.0 tweepy-4.4.0

In [51]:
import tweepy

In [52]:
!pip show tweepy

Name: tweepy
Version: 4.4.0
Summary: Twitter library for Python
Home-page: https://www.tweepy.org/
Author: Joshua Roesslein
Author-email: tweepy@googlegroups.com
License: MIT
Location: /Users/Varsha/opt/anaconda3/lib/python3.9/site-packages
Requires: requests-oauthlib, requests
Required-by: